<div class="container">
  <form [formGroup]="prescriptionFormGroup" *ngIf="prescriptionFormGroup">
    <table class="table">
      <thead>
      <th>ID Prescription</th>
      <th>Date</th>
      <th>Médecin</th>
      </thead>
      <tbody>
      <td *ngIf="pres ;else vide">{{pres.idprescription}} </td>
      <ng-template #vide>
        <td></td>
      </ng-template>
      <td>
        <input type ="date" class="form-control" formControlName="dateprescription">
      </td>
      <td>
        <select class="form-select" aria-label="Default select example" formControlName="idmedecin">
          <option *ngFor="let m of meds" value="{{m.idmedecin}}">{{m.nom}} {{m.prenom}}</option>
        </select>
      </td>
      </tbody>
    </table>
    <button (click)="onSavePrescription()" class="btn btn-success">
      Save
    </button>
  </form>
</div>
