<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bienvenue chez PharmaVic</h1>
  <p class="lead">Numéro 1 dans la gestion de pharmacie</p>
  <hr class="my-4">

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 1em">
      <div class="card">
        <img src="./assets/img/Acceuil/harold.jpg" class="card-img-top" alt="image d'un médecin">
        <div class="card-body">
          <h5 class="card-title">Gestion des patiens/médecins</h5>
          <p class="card-text">
            Avec le système de gestion des patients et des médecins moderne et simple d’utilisation, il est devenu très simple de gérer dans une interface moderne toutes les informations relatives à ceux-ci.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 1em">
      <div class="card">
        <img src="./assets/img/Acceuil/rapport_medical.jpg" class="card-img-top" alt="image d'un rapport médical">
        <div class="card-body">
          <h5 class="card-title">Gestion des prescriptions</h5>
          <p class="card-text">
            Un service de pharmacie sans prescription n’est pas un service de pharmacie. Il est possible d’ajouter des prescriptions depuis le menu d’édition du patient. <br/> Mais pas seulement ! Il est aussi possible de le faire du coté du médecin.  Une prescription est mal datée ? Encodez son ID dans la recherche dans la page Prescription et rectifiez l’erreur.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 1em">
      <div class="card">
        <img src="./assets/img/Acceuil/medicaments.jpg" class="card-img-top" alt="image de médicaments">
        <div class="card-body">
          <h5 class="card-title">Gestion des médicaments</h5>
          <p class="card-text">
            C’est bien d’avoir des prescriptions, mais maintenant, il faut prescrire quelque chose, non ?<br/> Vous pouvez ajouter tous les médicaments souhaités dans la base de données. Si une information est étonnée, il est toujours simple d’éditer ceci avec le menu d’édition.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
