<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bienvenue chez PharmaVic</h1>
  <p class="lead">Numéro 1 dans la gestion de pharmacie</p>
  <hr class="my-4">

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 1em">
      <div class="card">
        <img src="./assets/img/Acceuil/harold.jpg" class="card-img-top" alt="image d'un médecin">
        <div class="card-body">
          <h5 class="card-title">Gestion des patiens/médecins</h5>
          <p class="card-text">
            Fusce congue, arcu sed condimentum vehicula, lacus mauris consectetur odio, in tempor nisl neque eget felis. Integer eget tortor interdum, pretium mauris sit amet, venenatis enim. Donec viverra imperdiet sapien at pellentesque. Ut vitae nulla non diam eleifend vehicula. Ut eget enim nec elit malesuada finibus at sed est. Vivamus faucibus tincidunt mi ut eleifend. Vivamus auctor rhoncus lobortis.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 1em">
      <div class="card">
        <img src="./assets/img/Acceuil/rapport_medical.jpg" class="card-img-top" alt="image d'un rapport médical">
        <div class="card-body">
          <h5 class="card-title">Gestion des prescriptions</h5>
          <p class="card-text">
            Fusce congue, arcu sed condimentum vehicula, lacus mauris consectetur odio, in tempor nisl neque eget felis. Integer eget tortor interdum, pretium mauris sit amet, venenatis enim. Donec viverra imperdiet sapien at pellentesque. Ut vitae nulla non diam eleifend vehicula. Ut eget enim nec elit malesuada finibus at sed est. Vivamus faucibus tincidunt mi ut eleifend. Vivamus auctor rhoncus lobortis.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 1em">
      <div class="card">
        <img src="./assets/img/Acceuil/medicaments.jpg" class="card-img-top" alt="image de médicaments">
        <div class="card-body">
          <h5 class="card-title">Gestion des médicaments</h5>
          <p class="card-text">
            Fusce congue, arcu sed condimentum vehicula, lacus mauris consectetur odio, in tempor nisl neque eget felis. Integer eget tortor interdum, pretium mauris sit amet, venenatis enim. Donec viverra imperdiet sapien at pellentesque. Ut vitae nulla non diam eleifend vehicula. Ut eget enim nec elit malesuada finibus at sed est. Vivamus faucibus tincidunt mi ut eleifend. Vivamus auctor rhoncus lobortis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
