<nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-top: 1em; border-radius: 1em">
  <ul class="navbar navbar-nav">
    <li>
      <form (ngSubmit)="onSearch()" class="form-inline" style="margin-left: 1em;">
        <label style="margin-right: 1em">ID de prescription</label>
        <input [(ngModel)]="idprescription" name="idprescription" type="text" >
        <button class="btn btn-sm btn-outline-info m-lg-2">
          <span class = "fa fa-search"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>
<ng-container *ngIf="prescription">
<app-editprescription [prescription] ="prescription"></app-editprescription>
</ng-container>


