<div class="container">
  <form [formGroup]="patientFormGroup" *ngIf="patientFormGroup">
    <div class = "form-group">
      <label>NSS</label>
      <input type ="text" class="form-control" formControlName="nss" [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.nss.errors}">
      <div *ngIf="submitted && patientFormGroup.controls.nss.errors" class="invalid-feedback">
        <div *ngIf="patientFormGroup.controls.nss.errors.required">
          NSS obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Nom</label>
      <input type ="text" class="form-control" formControlName="nom" [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.nom.errors}">
      <div *ngIf="submitted && patientFormGroup.controls.nom.errors" class ="invalid-feedback">
        <div *ngIf="patientFormGroup.controls.nom.errors.required">
          Nom obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Prenom</label>
      <input type ="text" class="form-control" formControlName="prenom" [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.prenom.errors}">
      <div *ngIf="submitted && patientFormGroup.controls.prenom.errors" class ="invalid-feedback">
        <div *ngIf="patientFormGroup.controls.prenom.errors.required">
          Prénom obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Date de naissance</label>
      <input type ="date" class="form-control" formControlName="datenaissance" [ngClass]="{'is-invalid': submitted && patientFormGroup.controls.datenaissance.errors}">
      <div *ngIf="submitted && patientFormGroup.controls.datenaissance.errors" class="invalid-feedback">
        <div *ngIf="patientFormGroup.controls.datenaissance.errors.required">
          Date de naissance obligatoire
        </div>
      </div>
    </div>
    <button (click)="onSavePatient()" class="btn btn-success">
      Save
    </button>
  </form>
</div>
