<div class="container" *ngIf="deleted == false">
  <form [formGroup]="prescriptionFormGroup" *ngIf="prescriptionFormGroup">
    <div class = "form-group">
      <label>ID de Prescription</label>
      <input type ="text" class="form-control" formControlName="idprescription" readonly>
    </div>
    <div class = "form-group">
      <label>Date</label>
      <input type ="text" class="form-control" formControlName="dateprescription" [ngClass]="{'is-invalid': submitted && prescriptionFormGroup.controls.dateprescription.errors}">
      <div *ngIf="submitted && prescriptionFormGroup.controls.dateprescription.errors" class ="invalid-feedback">
        <div *ngIf="prescriptionFormGroup.controls.dateprescription.errors.required">
          Date de commande obligatoire
        </div>
      </div>
    </div>
    <div class="row">
      <div class = "form-group col-lg-6">
        <label>Medecin</label>
        <input type ="text" class="form-control" formControlName="nomdumed" readonly>
      </div>
      <div class = "form-group col-lg-6">
        <label>Patient</label>
        <input type="text" class="form-control" formControlName="nomdupat" readonly>
      </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar navbar-nav">
        <li class="nav-item">
          <button (click)="onUpdatePrescription()" class="btn btn-success">
            Save
          </button>
        </li>
        <li class="nav-item">
          <button (click)="onDeletePrescription()" class="btn btn-success">
            Delete
          </button>
        </li>
      </ul>
    </nav>
  </form>
</div>
