/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
}

.navbar_custom {
  background-color: darkgreen;
  border-radius: 10px;
}

.navbar_custom .navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar_custom .navbar-nav .nav-item .nav-link:hover{
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.custom_toggler {
  margin-right: 1em;
}

.dropdown-custom {
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
}
